@import "Vars.css";

.customized-tip {
    position: relative;
    max-height: 100%;
}

.customized-tip-input {
    height: 100%;
    width: 100%;
    border: 0px;
    font-size: 20px;
    padding: 5px 10px;
    font-weight: 700;
    font-family: inherit;
    text-align: end;
    background-color: var(--light-grayish-cyan-2);
}


.customized-tip-input:focus {
    outline-color: var(--slight-dark-cyan);
}

.error-message-tip {
    position: absolute;
    bottom: -40px;
    color: var(--slight-dark-orange);
    font-size: 12px;
}

.customized-tip-input.error {
    outline-color: var(--slight-dark-orange);
}

@media(min-width:800px) {
    .customized-tip-input {
        font-size: 18px;
    }
}