@import "Vars.css";

.value-output {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.value-output span {
    color: var(--dark-grayish-cyan-2);
    font-size: 12px;
}

.output-check {
    color: #10c9ae;
    max-width: 70%;
}

.output-check p {
    font-size: 30px;
}

@media(min-width: 800px) {
    .output-check p {
        font-size: 35px;
    }
}