@import "Vars.css";

.value-output {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.output-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.output-value {
    font-size: 28px;
    color: var(--slight-dark-cyan);
}

.value-output span {
    color: var(--dark-grayish-cyan-2);
    font-size: 12px;
}

@media(min-width: 800px) {
    .output-value {
        font-size: 35px;
    }
}